
$blue-color:dodgerblue;
$red-color: red;
$yellow-color: yellow;
$white-color: white;
$black-color: black;
$gray-color: #666;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;