<div class="board">
  <div *ngFor="let column of board, index as columnIndex" class="column">
    <div *ngFor="let row of column, index as rowIndex" class="row">
      <div class="circle"
        (click)="addDisc(columnIndex)">
      </div>
      <div class="disc"
        *ngIf="board[columnIndex][rowIndex] != 'none'"
        [ngStyle]="{'background-color': board[columnIndex][rowIndex]}">
      </div>
    </div>
  </div>
</div>
<div *ngIf="winner">Winner: <span [ngStyle]="{'color': winner}">{{winner}}</span></div>