@import "constants";

.board {
  background-color: $blue-color;
  border: 1px solid $black-color;
  width: 500px;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
}

.circle {
  background-color: $white-color;
  border: 1px solid $gray-color;  
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  z-index: 1;
}

.disc {
  position: absolute;
  z-index: 2;
  top: 11px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
